<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="notification-container">
            <!--     Notification list header -->
            <div class="notification-list-header table-content">
                <div class="arrow-icon table-content-cell">
                    <i class="fa fa-angle-left icon"></i>
                </div>
                <div class="notification-title table-content-cell"> Students </div>

            </div>
            <div class="notification-list-box">
                <div class="custom-scrollBar">
                    <div class="list-group">
                        <p-accordion [multiple]="true">
                            <p-accordionTab style="font-size:150%;"
                        
                                *ngFor="let student of studentsList;let i=index">
                                <ng-template  pTemplate="header">
                                    <img style="width: 10%;" [src]="student.passport">
                                    &nbsp;&nbsp;&nbsp;
                                  {{student.firstName}}  {{student.lastName}}
                                </ng-template>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">{{student.firstName}} {{student.lastName}} </span><br />
                                    <span class="text-muted">  &nbsp;&nbsp;<img src=".\.\.\.\assets\book.png" style="width:auto;height:15px"> &nbsp;Grade: {{student.grade}} th </span><br />
                                    <span class="text-muted">&nbsp;&nbsp;<img src=".\.\.\.\assets\male-user.png" style="width:auto;height:15px"> &nbsp;Father: {{familyList[i].fatherPhone}}</span><br />
                                    <span class="text-muted">  &nbsp;&nbsp;<img src=".\.\.\.\assets\famale-user.png" style="width:auto;height:15px" >  &nbsp;Mother: {{familyList[i].motherPhone}}</span><br />
                                    <span class="text-muted" *ngIf="student.phone">&nbsp;&nbsp;<img src=".\.\.\.\assets\profile-student.png" style="width:auto;height:15px" >  &nbsp;Student: {{student.phone}}</span><br />
                                </div>
                                <div class="clearfix"></div>
                            </p-accordionTab>

                        </p-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>