<!DOCTYPE html>
<html>
  <head>
    <title>Waypoints in Directions</title>
  </head>
  <body>
    <div id="container">
      <div id="map"></div>
        <div id="directions-panel"></div>
   
    </div>
    <!-- <google-map
  height="300px"
  width="90%"
  [zoom]="zoom"
  [center]="center"
><map-marker *ngFor="let marker of markers"
[position]="marker.position"
[label]="marker.label"
[title]="marker.title"
[options]="marker.options">
</map-marker> -->
<!-- </google-map> -->
    <script
    src="https://maps.googleapis.com/maps/api/js?keyAIzaSyCR5cpWuGnLOHc-Vjvo0Xe6p91hdGH7FDo&callback=initMap&v=weekly"
    async
  ></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->

  </body>
</html>