// /* Bordered form */
// form {
//     border: 3px solid #f1f1f1;
//   }
  
//   /* Full-width inputs */
//   input[type=text], input[type=password] {
//     width: 100%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     box-sizing: border-box;
//   }
  
//   /* Set a style for all buttons */
//   button {
//     background-color: #04AA6D;
//     color: white;
//     padding: 14px 20px;
//     margin: 8px 0;
//     border: none;
//     cursor: pointer;
//     width: 40%;
    
//   }
  
//   /* Add a hover effect for buttons */
//   button:hover {
//     opacity: 0.8;
//   }
  
 
  
//   /* Center the avatar image inside this container */
//   .imgcontainer {
//     text-align: center;
//     margin: 24px 0 12px 0;
//   }
  
//   /* Avatar image */
//   img.avatar {
//     width: 40%;
//     border-radius: 50%;
//   }
  
//   /* Add padding to containers */
//   .container {
//     padding: 16px;
//   }
  
//   /* The "Forgot password" text */
//   span.psw {
//     float: right;
//     padding-top: 16px;
//   }


  
  // /* Change styles for span and cancel button on extra small screens */
  // @media screen and (max-width: 300px) {
  //   span.psw {
  //     display: block;
  //     float: none;
  //   }
  //   .cancelbtn {
  //     width: 100%;
  //   }

  // }
/* Bordered form */
form {
  border: 3px solid #e6a73d;
  width: 30%;
  margin: 60px auto;
}

video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.webcam-wrapper{
  margin-bottom:2px;
}

button {
  background-color: #47aec1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom:2%;
}

button:hover {
  opacity: 0.8;
}

.webcam{
  height:90%; 
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom:2%;
}

/* Center the avatar image inside this container */
.img {
  text-align: center;
  margin: 24px 0 12px 0;
  width: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
}
//nessi
.image{
  // border-radius: 100%;
  clip-path: circle();
  height:250px;
  width:auto;
  border: 5px #e6a73d;
}

.snapshot{
  margin-top: 5%;
}

.imgButton{
  margin-top: 2%;
}

.video{   
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}

.container {
  padding: 16px;
}

h2{
color:#47aec1;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 3%;
}

@media screen and (max-width: 300px) {

  form{
    width: 100%;
  }
  button{
    font-size: 60%;
  }
.webcam{
  height: 150;
}
.image{
  height: 100px;

}
}