<!-- Vertical Steppers -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form>	
	<p-timeline [value]="stationsList">
		<ng-template pTemplate="content" let-station>
			<span class="custom-marker p-shadow-2" >
                <i [ngClass]="icon"></i>
            </span>
			&#123;&#123;station.address&#125;&#125;
		</ng-template>
	</p-timeline>

</form>
</body>
</html>
