<!-- Vertical Steppers -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- <app-driver-map></app-driver-map> -->
<form>	
	<p-timeline [value]="stationsList" >
		<ng-template pTemplate="content" let-station >
			<span class="custom-marker p-shadow-2" >
                <i [ngClass]="icon"></i>
            </span>
			<div  *ngIf="station.routeId!=-1">&#123;&#123;station.address&#125;&#125;</div>
			<div  *ngIf="station.routeId==-1" style="text-decoration-line: line-through;">&#123;&#123;station.address&#125;&#125;</div>

		</ng-template>
	</p-timeline>
<button type="button"class="btn"(click)="toMap()">Map</button>
</form>
</body>
</html>
