<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
  <app-side-bar-driver *ngIf="sideBar"></app-side-bar-driver>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:white">
            <!-- <div class="circular_image">
                <img src=".\.\.\.\assets\schoolBus.png" class=""/>
            </div> -->
            <div class="circle"> {{currentDriver.firstName[0]}}&nbsp;{{currentDriver.lastName[0]}}</div>
            {{currentDriver.firstName}}&nbsp;{{currentDriver.lastName}}</a>
        <button class="navbar-toggler" type="button" (click)="sideBarFunc()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class=" navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" >
                <img src=".\.\.\.\assets\schoolBusLogo2.png" class="logo" (click)="navigate(4)"/><br>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="startDriving()">
                <img src=".\.\.\.\assets\video-play-button.png" class="image"/><br>Start Driving
              </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" (click)="navigate(3)">
                <img src=".\.\.\.\assets\students-black.png" class="image"><br>
                Students
              </a>
            </li>      

            <!-- <li class="nav-item active">
              <a class="nav-link" >
                <img src=".\.\.\.\assets\students-black.png" class="image">
                Students
                </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" (click)="navigate(2)">
                <img src=".\.\.\.\assets\email-black.png" class="image">
                <p-badge  [value]=mesLen  severity="danger"></p-badge><br>
                Meesages
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src=".\.\.\.\assets\distance-black.png" class="image"><br>
                Route
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" >Action</a>
                <a class="dropdown-item" >Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" >Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav> 
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <!-- <button  class="btn btn-secondary float-left" (click)="startDriving()">Start Driving</button> -->
      <router-outlet></router-outlet>
</body>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPOINpsuI3mDaMN538S5BePKJvfTozC5U&callback=initMap">
</script>
</html>




