/* Bordered form */
form {
    border: 3px solid #e6a73d;
    width: 30%;
    margin: 60px auto;
    border-radius:5px

  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius:5px
  }
  
  /* Set a style for all buttons */
  // button {
  //   background-color: #47aec1;
  //   color: white;
  //   padding: 14px 20px;
  //   margin: 8px 0;
  //   border: none;
  //   cursor: pointer;
  //   width: 30%;
  //   // height: 70%;
  //   margin-left: 26%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin: auto;
  //   border-radius:5px

  // }
  .btn-outline-primary {
    color:  #47aec1;
    background-color: transparent;
    background-image: none;
    border-color:  #47aec1;
    width: 30%;
}
  .btn1{
       display: flex;
    justify-content: center;
    align-items: center;
  }
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
  
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
 
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  i{
    text-align: center;
    place-items: start end;
  }
  .flex-container {
    vertical-align:auto;
  }

  // .passwordDiv{
  //   position: absolute;
  // }
  
  /* Change styles for span and cancel button on extra small screens */
  @media only screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
    input{
      font-size: 60%;
    }

    form{
      width: 100%;
    }
    button{
      font-size: 60%;
    }

  }