.btn-primary {
    color: #101213 ;
    background-color:white;
    background-image: none;
    border-color:  #101213;
    width: 30%;
}
form {

    width: 20%;
    margin: 60px auto;
    border-radius:5px; 

  }
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
    width: 80%;
    border-radius: 0.3rem;
}
.div-btn{
    // display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.btn-lg:hover{
    
    background-color:#e8e8e8;
}
.image{
    width: auto;
    height: 150px;
}
.imageSmall
{
    width: auto;
    height: 50px; 
}
@media only screen and (max-width: 500px) {
  
    form{
      width:90%;
    }
    .image{
        width: auto;
        height: 100px;
    }
    .btn-lg {
    
        font-size: 1.5rem;

    }
  
  }