<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <title>Document</title>
</head>

<body>

    <form>
 
         <article class="card-body mx-auto" style="max-width:400px;">
                <div class='div-btn' >
                   <div style="display:flex; justify-content:space-between;" >
                
                <div *ngIf="isRouteClicked">
                    <button class="btn btn-primary btn-sm " (click)="navigation(1,true)"><br><img src=".\.\.\.\assets\arrow-right 2.png" class="imageSmall"> <br> Go</button>
                    <br>
                    <br>
                   
                    <button class="btn btn-primary btn-sm"  (click)="navigation(1,false)"><br><img src=".\.\.\.\assets\arrow-left.png" class="imageSmall"><br>Back</button>
                </div>
                <div class="btn btn-primary btn-lg" (mouseover)=" routeClicked()" ><img src=".\.\.\.\assets\route-1.png" class="image"><br>Route</div>
            </div>
                
                <br>
                

                <button type="button" class="btn btn-primary btn-lg" (click)="navigation(2)"><img src=".\.\.\.\assets\email2.png" class="image"><p-badge  [value]=mesLen  severity="danger"></p-badge>  <br>Messeges</button>
                <br>
                <br>

                <button class="btn btn-primary btn-lg" (click)="navigation(3)"> <img src=".\.\.\.\assets\students.png" class="image"><br>Students</button><br>
                <br>
                <br>

            </div>
            </article>
      

    </form>
</body>

</html>