<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

      <div class="container">
        <div class="notification-container">
        <!--     Notification list header -->
          <div class="notification-list-header table-content">
            <div class="arrow-icon table-content-cell">
              <i class="fa fa-angle-left icon"></i>
            </div>
            <div class="notification-title table-content-cell"> Messages </div>
             
          </div>
       
      <!--     Notification list container/box -->
          <div class="notification-list-box">
            <div class="custom-scrollBar">
              <div class="list-group">
                <a  *ngFor="let mess of messegesList; let i=index" class="list-group-item table-content">
                  <div class="media table-content-cell">
                      <div class="media-left">
                        {{name[i].familyName}}
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading"> {{mess.messageText}}</h4>
                        <span class="notification-location">  {{messType[i]}} </span>
                      </div>
                    </div>
                  <div class="notification-time table-content-cell"> 3 min ago </div>
                  <div class="list-remove-btn table-content-cell" *ngIf="!mess.isRead" (click)="isRead(mess)" ><img  src=".\.\.\.\assets\check.png" class="V"> </div>
                  <div class="list-remove-btn table-content-cell" *ngIf="mess.isRead" (click)="isRead(mess)" ><img  src=".\.\.\.\assets\arrow-left.png" class="V"> </div>
                </a>
                </div>
          </div>
          </div>
        </div>
              
      </div>
</body>

</html>