<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form [formGroup]="messegeForm">
        <div class="container">
            <div class="notification-container">
                <div class="notification-list-header table-content">
                    <div class="arrow-icon table-content-cell">
                        <i class="fa fa-angle-left icon"></i>
                    </div>
                    <div class="notification-title table-content-cell"> <i class="fa fa-envelope"></i> contact with the
                        driver </div>
                </div>
                <div class="notification-list-box">
                    <div class="custom-scrollBar">
                        <br>
                        <div class="list-group">
                            <br>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <br>
                                    <br>
                                    <tbody style="    width: 100%;">
                                        <tr>
                                            <th scope="row" class="p-1">&nbsp;&nbsp;<img
                                                    src=".\.\.\.\assets\little-kid.png"
                                                    style="width:auto;height:25px; "></th>
                                            <td class="p-1" style="    width: 90%;"><select formControlName="student"
                                                    class="form-select" placeholder="choose a student">
                                                    <option value="">Please select student</option>
                                                    <option *ngFor="let student of studentList">{{student.firstName}}
                                                    </option>
                                                </select></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">&nbsp;&nbsp;<img src=".\.\.\.\assets\text.png"
                                                    style="width:auto;height:25px; "></th>
                                            <td class="p-1"><select formControlName="messegeType" class="form-select"
                                                    placeholder="choose a type">
                                                    <option value="">Please select type</option>

                                                    <option>cancel station</option>
                                                    <option>question</option>
                                                    <option>other</option>
                                                </select></td>
                                        </tr>
                                    </tbody>
                                    <div class="form-group"
                                        *ngIf="messegeForm.value.messegeType=='other' || messegeForm.value.messegeType=='question'">
                                        <div class=" mt-4">
                                            <textarea class="form-control" id="message" name="body" rows="3"
                                                placeholder="Click here to reply"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" style=" margin-left:  9.5%;">
                                        <br>
                                        <button type="submit" class="btn btn-success" (click)="sendMessge()"><img
                                                src=".\.\.\.\assets\send.png" style="width:auto;height:20px">Send</button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>