<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">  -->
    
</head>
<body>
    <!-- <app-send-messege></app-send-messege> -->

  <!-- <app-student-details></app-student-details> -->
  <div class="input-group-prepend">
    <span class="input-group-text" (click)="navigateToStudentDetails()"><img src=".\.\.\.\assets\add-user.png" style="width:auto;height:40px">  </span>
 </div>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body p-t-0">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" *ngFor = "let student of studentList; let i=index">
                <div class="panel">
                    <div class="panel-body p-t-10">
                        <div class="media-main">
                            <a class="pull-left" href="#">
                                <img class="thumb-lg img-circle bx-s" src="student.passport" alt="">
                            </a>
                            <div class="pull-right btn-group-sm">
                                <a  class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a  class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                    <i class="fa fa-close"></i>
                                </a>
                            </div>
                            <div class="info">
                                <h4>{{student.firstName}}  {{student.lastName}}</h4>
                                <p class="text-muted">Grade {{student.grade}}th</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <h5>Driver Detailsv</h5>
                        <ul class="social-links list-inline p-b-10">
                            <li>
                                <p><i class="fa fa-user"></i>{{driverList[i].firstName}}  {{driverList[i].lastName}}</p>
                            </li>
                            <li>
                                <p><i class="fa fa-phone"></i>{{driverList[i].phone}} </p>
                            </li>
                            <li>
                                <p><i class="fa fa-envelope"></i>{{driverList[i].email}} </p>
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
