<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js" integrity="sha256-xHkYry2yRjy99N8axsS5UL/xLHghksrFOGKm9HvFZIs=" crossorigin="anonymous"></script> -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!------ Include the above in your HEAD tag ---------->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">  -->
    
</head>
<!-- <app-family-map></app-family-map>
<app-send-messege></app-send-messege> -->
<body>
     <div class="container">
     <div *ngIf="emptyList">
        <img src=".\.\.\.\assets\no-students.png">
     </div>
    <div class="row ">
        <!-- Start col -->
        <div  class="col-lg-6"   *ngFor = "let student of studentList; let i=index">
            <div class="card m-b-30 well profile_view">
                <div class="card-body py-5">
                    <div class="row">
                        <div class=" btn-group-sm" style="margin-left: 80%;">
                            <button class="btn btn-success tooltips" data-placement="top" (click)="navigateToStudentDetails(student)"data-toggle="tooltip" data-original-title="Edit">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button  class="btn btn-danger tooltips" data-placement="top" (click)="deleteStudent(student)" data-toggle="tooltip" data-original-title="Delete">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <div class="side-to-side">

                        <div class="col-lg-3 text-center" style="margin-left: 8%;">
    
                            <img src="{{'data:image/jpg;base64,' + student.passport}}" class="img-fluid mb-3" alt="user"  />
                        </div>
                       
                       
                        <div class="col-lg-9" style="margin-left: 5%;">
                            <h1 style="font-weight: bold;">{{student.firstName}} </h1>
                            
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                    
                                        <tr>
                                            <th scope="row" class="p-1"> &nbsp;&nbsp;<img src=".\.\.\.\assets\book.png" style="width:auto;height:15px"> &nbsp;Grade :</th>
                                            <td class="p-1">{{student.grade}}th</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">&nbsp;&nbsp;<img src=".\.\.\.\assets\bus.png" style="width:auto;height:15px"> &nbsp;Route :</th>
                                            <td class="p-1">{{routeList[i].name}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">&nbsp;&nbsp;<img src=".\.\.\.\assets\male-user.png" style="width:auto;height:15px"> &nbsp;Driver Name :</th>
                                            <td class="p-1">{{driverList[i].firstName}}  {{driverList[i].lastName}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">&nbsp;&nbsp;<img src=".\.\.\.\assets\phone-call.png" style="width:auto;height:15px"> &nbsp;Driver Phone :</th>
                                            <td class="p-1">{{driverList[i].phone}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">&nbsp;&nbsp;<img src=".\.\.\.\assets\email.png" style="width:auto;height:15px"> &nbsp;Driver Email :</th>
                                            <td class="p-1">{{driverList[i].email}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                    </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- End col -->
    </div>
    </div>
</body>


</html>