<p>family-home works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="" rel="stylesheet"> -->

</head>
<body>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12" style="border-color:black; border:5px">
            <div class="panel panel-default">
                <div class="panel-body p-t-0">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class=" list col-sm-6" *ngFor="let student of studentList;let i=index">
            <div class="panel">
                <div class="panel-body p-t-10">
                    <div class="media-main">
                        <a class="pull-left" href="#">
                            <img class="thumb-lg img-circle bx-s" src="student.passport" alt="">
                        </a>
                        <div class="pull-right btn-group-sm">
                            <a  class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                        <div class="info">
                            <h3>{{student.firstName}} {{student.lastName}}</h3>
                            <p class="text-muted">Status: on Traveling</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="social-links list-inline p-b-10">
                        
                        <p class="driver">Driver Details</p>
                        <li>
                            <p class="details text-muted"><i  class="fa fa-user"></i> {{driverList[i].firstName}}   {{driverList[i].lastName}}</p>
                          
                        </li>
                         <li>
                             <p class="details text-muted">&emsp;&emsp;<i class="fa fa-phone"></i> {{driverList[i].phone}} </p>
                           
                        </li>
                        <li>
                           <p class="details text-muted"><i class="fa fa-envelope"></i> {{driverList[i].email}}</p>

                        </li>
                        
                    </ul>
                </div>
            </div>
  
        </div>

        
      
    </div>
</div>
</div>


</body>
</html>