<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> -->
</head>

<body>
  <form>
    <div class="card ">
      <article class="card-body mx-auto" style="max-width:400px;">
        <div style="  display: flex; justify-content: space-around;">
          <div class="video" >
            <webcam class="webcam" [height]=200 [width]=200 [trigger]="triggerObservable"
              (imageCapture)="handleImage($event)">
            </webcam>
          </div>
          <div class="videoButton" style="margin-left: 20px;">
            <div class="input-group-prepend">
              <span class="input-group-text" (click)="triggerSnapshot()"><img src=".\.\.\.\assets\camera.png"
                  style="width:auto;height:40px"> </span>
            </div>
            <br>

            <div class="input-group-prepend">
              <span class="btn btn-file input-group-text"><input type="file" placeholder="lklk"><img
                  src=".\.\.\.\assets\upload.png" style="width:auto;height:40px"> </span>
            </div>

          </div>
        </div>
        <div class="snapshot" *ngIf="webcamImage">
<br>
          <h2>Here is your image!</h2>
          <div class="img">
            <img class="image" [src]="webcamImage.imageAsDataUrl" />
          </div>
          <div class="imgButton">
            <button class="btn" (click)="handleImage(webcamImage)">Save</button>
          </div>
        </div>
      </article>
    </div>
  </form>
</body>

</html>